
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #2c3531;
  color: #D1E8E2;
}


/* ---- layout ---- */

main {
  display: grid;
  /*grid-template-columns: 2rem 1fr 2rem;*/
  grid-template-columns: 
    [full-start] minmax(2rem, 1fr) 
    [main-start] minmax(0, 40rem) [main-end]
    minmax(2rem, 1fr) [full-end];
  grid-template-rows: auto;
}

main > * {
  grid-column: main;
}

.image-section {
  grid-column: full;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header h1 {
  font-size: 1.1rem;
}

header h2 {
  color: #D9B08C;
  font-size: 1.1rem;
}

header a {
  font-size: 1.1rem;
  text-decoration: none;
}

/*main {
  grid-column-start: 2;
  display: grid;
}*/

.image-section img {
  width: 100%;
  grid-column-start: 1;
}

.first-section h1 {
 font-size: 2.74rem;
 margin-top: 4rem;
 margin-bottom: 1rem;
}

.first-section ul {
  padding-left: 0;
}

.first-section ul li {
  list-style: none;
  text-decoration: none;
  background-color: #116466;
  margin-bottom: 1.5rem;
}

.first-section ul li a:hover {
  text-decoration-line: line-through;
}

.first-section ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #116466;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.first-section h2 {
  color: #FFCB9A;
}

.image-section img {
  width: 100%;
}

.third-section-div div {
  background-color: #116466;
}

.third-section-div div a {
  text-decoration: none;
  background-color: #116466;
  height: auto;
}

.third-section div a img {
  width: 100%;
}

.third-section div a p {
  background-color: #116466;
  margin-top: 0;
  text-align: center;
  padding: 0.5rem;
}

.exercise-title {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.testimonials {
  background-color: #D1E8E2;
  color :#2c3531;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.testimonials:not(:last-child) {
  margin-bottom: 1rem;
}

.testimonials span {
  background-color: #D1E8E2;
  color: #2c3531;
  width: 100%;
  float: left;
  margin-left: 5px;
}

.fifth-section form {
  display: flex;
  flex-direction: column;
}

.fifth-section form textarea {
  margin-top: 1rem;
}

.fifth-section form input {
  background-color: #116466;
  color: #D1E8E2;
  border-style: none;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
}

footer {
  background-color: #FFCB9A;
  margin-top: 1rem;
  padding: 0.5rem;
}

footer > * {
  background-color: #FFCB9A;
  color: #2c3531;
}













/*
nav.top-nav {
  width: 100%;
  position: fixed;
  background-color: #2c3531;
  color: #D1E8E2; #FFCB9A
  margin-top: 0;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #116466;
  z-index: 1;
}
/*
nav a {
  position: relative;
  text-decoration: none;
  color: #D1E8E2;
  float: right;
  margin-block-start: 1em;
  margin-block-end: 0.83em;
  margin-right: 1rem;
  font-weight: bold;
}

nav h1 {
  position: relative;
  float: left;
  font-size: 1.1rem;
  margin-left: 1rem;
}

nav h2 {
  position: relative;
  float: left;
  font-size: 1.1rem;
  font-weight: normal;
  margin-left: 1rem;
  color: #D9B08C;
}

/* ---- components ---- */
/*
header div {
  background-color: #2c3531;
}

body {
  display: grid;
  grid-template-columns: 5rem auto 5rem;
}

section {
  grid-column-start: 2;
}


/* ---- section ---- */
/*
.first-section {
  width: 100%;
  margin-top: 0;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 5rem;
}

.first-section h1 {
  color: #D1E8E2;
  font-size: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.first-section h2 {
  color: #D9B08C;
  font-size: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.first-section ul li {
  list-style: none;
  display: inline-block;
  margin-top: 1.5rem;
  margin-right: 2rem;
}

.first-section ul li a:hover {
  text-decoration-line: line-through;
}

.first-section ul li a {
  text-decoration: none;
  font-size: 2rem;
}

.image-section {
  margin-right: 0;
  width: 100%;
}

.image-section img {
  max-width: 100%;
}

.second-section, .third-section, .fourth-section, .fifth-section {
  margin-left: 4rem;
  margin-right: 4rem;
}

.third-section-div div{
  position: relative;
  float: left;
  margin-right: 2rem;
  box-shadow: 10px 10px 0px 0px #FFCB9A;
}

.fifth-section form label, .fifth-section form textarea, .fifth-section form input {
  position: relative;
  float: left;
  display: block;
  width: 90%
}

.clearfix {
  clear: both;
}

*/